#container1{
    background-image: url("GCMain.jpg");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    backround-size: contain;
    width: 100%;
    height: 938px;
}

#heading{
    text-align: center;
    top: 15%;
    font: "Arial";
    font-size: 42px;
    color: white;
}